@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03A9F4;
  height: 100vh;
  font-family: 'Abril Fatface', cursive;
  color: #FFEB3B;
}